body {
    background-color: #D5DFE5;
    padding: 1em;
    margin: 0;
    overflow-y: scroll;
  }
h1 {
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 10px;
    /* identical to box height */
    color: #728591;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 92px;
    /* identical to box height */


    color: #728591;
}

h3 {
    margin-top: 10px;
    margin-bottom: 1px;
    font-family: 'Adobe Caslon Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 37px;
    line-height: 90px;
    /* identical to box height */
    
    
    color: #EF4043;
    
}

h4 {
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Adobe Caslon Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 77px;
    /* identical to box height */
    
    
    color: #728591;
    
}

h5 {
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 71px;
    
    color: #728591;
    
}

h6 {
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Bodoni MT';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 60px;
    /* identical to box height */
    
    
    color: #728591;
    
}

p {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 10px;

    color: #566975;

}

a:link {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    
    
    color: #434C52;
    
}

a:hover {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    text-decoration: none;
    color: #EF4043;
  }

a:visited {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 37px;
    /* identical to box height */
    
    color: #F3A6A8;
}

ul, ol {
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 20px;
    
    color: #566975;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #1E1E1E;
    color: #1E1E1E;
    background-color: #1E1E1E;
}

button {
    background-color: #566975;
    padding: 15px 32px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border-color: #566975;
    text-align: center;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
}

button:hover {

    background: #4E5F69;

}

button:focus{
    background: #748B9A;
}